* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1; 
  color: #111;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes moveBackground {
  from { background-position-x: 10000%; }
  to   { background-position-x: -10141%; }
}



#banner .logo  { transition: opacity 2s ease, transform 1s ease; transform: translateY(0); opacity: 1; margin: 0 auto; }


h4 {
 font-family: 'Raleway', 'Helvetica', 'sans-serif' !important;
}


h2 {
    -webkit-text-size-adjust: none;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #ffffff;
    font-family: 'Raleway', 'Helvetica', 'sans-serif';
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}